<!-- Pagination -->
<ul class="pagination">
    <li class="pagination__item">
        <a class="pagination__link" href="">&lt;</a>
    </li>
    <li class="pagination__item">
        <a class="pagination__link" href="index.html">1</a>
    </li>
    <li class="pagination__item">
        <a class="pagination__link" href="works.html">2</a>
    </li>
    <li class="pagination__item">
        <a class="pagination__link" href="post.html">3</a>
    </li>
    <li class="pagination__item">
        <a class="pagination__link" href="">&gt;</a>
    </li>
</ul>
