<aside class="sidebar">
    <div class="sidebar__header">
        <img src="assets/images/sidebar_header.jpg" alt="">
    </div>
    <div class="sidebar__content">
        <div class="profile">
            <img class="profile__avatar"
            src="https://placehold.it/100" alt="">
            <div class="profile__name">Анна Георгиевна</div>
            <div class="profile__prof">Блог мастерицы</div>

            <ul class="social">
                <li class="social__item">
                    <a class="social__link" href="#"
                    target="_blank">
                        <img src="assets/images/instagram.svg"
                        alt="Анна hand made instagram">
                    </a>
                </li>
                <li class="social__item">
                    <a class="social__link" href="#"
                    target="_blank">
                        <img src="assets/images/vk.svg"
                        alt="Анна hand made vk">
                    </a>
                </li>
                <li class="social__item">
                    <a class="social__link" href="#"
                    target="_blank">
                        <img src="assets/images/pinterest.svg"
                        alt="Анна hand made pinterest">
                    </a>
                </li>
            </ul>
            <div class="profile_text">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi optio voluptas animi adipisci corrupti qui atque dicta beatae corporis quo odit dolores, aliquid, ex amet enim nisi deserunt debitis facere aspernatur illum ad fugit. A quis accusamus nemo nesciunt ut, eligendi error, similique dolor cum optio architecto, iure, possimus illo?</p>
            </div> <!-- /.profile -->
        </div>
    </div> <!-- /.sidebar content -->
    <div class="sidebar__footer">
        <a class="btn btn--red" href="">Мои работы</a>
        <button class="btn btn--blue"
        type="button">Написать мне</button>
    </div>
</aside>
